@charset "UTF-8";
/* Object */
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  background-image: url("../img/concreto.png");
  padding: 20px;
  grid-gap: 15px;
  font-family: 'Montserrat', sans-serif;
  grid-template-areas: "propiedad1 propiedad1 propiedad2 propiedad3"  "propiedad4 propiedad5 propiedad6 propiedad6" "propiedad7 propiedad7 propiedad8 propiedad9"; }

/* Elements */
.grid__a {
  border: 2px solid #B2B2B2;
  padding: 20px;
  grid-column: 1/3;
  grid-row: 1/2;
  grid-area: propiedad1;
  background-image: url("../img/render.png"); }
  .grid__a:hover {
    background-image: linear-gradient(to top, #999999, #FFFFFF00); }

.grid__b {
  border: 2px solid #B2B2B2;
  padding: 20px;
  grid-column: 4/5;
  grid-row: 1/2;
  grid-area: propiedad2; }
  .grid__b:hover {
    background-image: linear-gradient(to top, #999999, #FFFFFF00); }

.grid__c {
  border: 2px solid #B2B2B2;
  padding: 20px;
  grid-area: propiedad3; }
  .grid__c:hover {
    background-image: linear-gradient(to top, #999999, #FFFFFF00); }

.grid__d {
  border: 2px solid #B2B2B2;
  padding: 20px;
  grid-area: propiedad4; }
  .grid__d:hover {
    background-image: linear-gradient(to top, #999999, #FFFFFF00); }

.grid__e {
  border: 2px solid #B2B2B2;
  padding: 20px;
  grid-column: 3/5;
  grid-row: 2/3;
  grid-area: propiedad5; }
  .grid__e:hover {
    background-image: linear-gradient(to top, #999999, #FFFFFF00); }

.grid__f {
  border: 2px solid #B2B2B2;
  padding: 20px;
  grid-area: propiedad6;
  background-image: url("../img/render3.png"); }
  .grid__f:hover {
    background-image: linear-gradient(to top, #999999, #FFFFFF00); }

.grid__g {
  border: 2px solid #B2B2B2;
  padding: 20px;
  grid-column: 1/3;
  grid-row: 3/4;
  grid-area: propiedad7;
  background-image: url("../img/render2.png"); }
  .grid__g:hover {
    background-image: linear-gradient(to top, #999999, #FFFFFF00); }

.grid__h {
  border: 2px solid #B2B2B2;
  padding: 20px;
  grid-area: propiedad8; }
  .grid__h:hover {
    background-image: linear-gradient(to top, #999999, #FFFFFF00); }

.grid__i {
  border: 2px solid #B2B2B2;
  padding: 20px;
  grid-area: propiedad9; }
  .grid__i:hover {
    background-image: linear-gradient(to top, #999999, #FFFFFF00); }

.fondo {
  background-image: url("../img/fondo4.jpg");
  margin: 0px;
  padding: 20px;
  background-size: cover; }

.imagen {
  position: relative;
  text-align: center;
  box-sizing: content-box; }

@media screen and (max-width: 500px) {
  .circulos {
    display: flex;
    background-image: url("../img/persona1.png");
    width: 100%;
    height: 200%;
    border-radius: 100%; }
  .circulos:hover {
    display: flex;
    background-image: url("../img/socio2.jpg");
    width: 100%;
    height: 100%;
    border-radius: 100%; }
  .circulos2 {
    display: flex;
    background-image: url("../img/persona2.png");
    width: 100%;
    height: 100%;
    border-radius: 100%; }
  .circulos2:hover {
    display: flex;
    background-image: url("../img/socio1.jpg");
    width: 100%;
    height: 100%;
    border-radius: 100%; }
  .circulos3 {
    display: flex;
    background-image: url("../img/persona3.png");
    width: 100%;
    border-radius: 100%; }
  .circulos3:hover {
    display: flex;
    background-image: url("../img/socio3.jpg");
    width: 100%;
    border-radius: 120%; } }

@media screen and (min-width: 500px) {
  .circulos {
    display: flex;
    background-image: url("../img/persona1.png");
    width: 21%;
    border-radius: 120%; }
  .circulos:hover {
    display: flex;
    background-image: url("../img/socio2.jpg");
    width: 21%;
    border-radius: 120%; }
  .circulos2 {
    display: flex;
    background-image: url("../img/persona2.png");
    width: 21%;
    border-radius: 120%; }
  .circulos2:hover {
    display: flex;
    background-image: url("../img/socio1.jpg");
    width: 21%;
    border-radius: 120%; }
  .circulos3 {
    display: flex;
    background-image: url("../img/persona3.png");
    width: 21%;
    border-radius: 120%; }
  .circulos3:hover {
    display: flex;
    background-image: url("../img/socio3.jpg");
    width: 21%;
    border-radius: 120%; } }

@media screen and (max-width: 500px) {
  .botonazo {
    margin-bottom: 2%;
    margin-left: 5%;
    font-family: 'Montserrat', sans-serif;
    background-color: #FA5B05;
    border: solid 1px #C4C3C3;
    color: #FFFFFF;
    width: 95%; }
  #inputGroupSelect02 {
    margin-bottom: 2%;
    margin-left: 5%;
    width: 95%; }
  .input-group-prepend {
    margin-bottom: 10%;
    margin-left: 5%;
    width: 98%; }
  h2 {
    display: none;
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
    text-shadow: black 0.1em 0.1em 0.2em;
    font-size: 120%; }
  .redessoc2 {
    display: none; } }

@media screen and (min-width: 500px) {
  .botonazo {
    margin-bottom: 40%;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    background-color: #FA5B05;
    border: solid 1px #C4C3C3;
    color: #FFFFFF;
    width: 15%; }
  .input-group-prepend {
    margin-bottom: 40%; }
  h2 {
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
    padding-bottom: 4%;
    text-shadow: black 0.1em 0.1em 0.2em; }
  .redessoc2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: -3%;
    padding-bottom: -4%;
    color: #B3B3B3; } }

.buscador {
  opacity: 0.7;
  margin-left: 22%;
  margin-top: 5%;
  width: 55%;
  height: 10%;
  font-size: 150%; }

.buscador2 {
  margin-left: 1%;
  margin-top: 6%;
  margin-bottom: 26%;
  width: 20%;
  height: 5%;
  font-size: 80%;
  background-color: #F64109;
  text-align: center;
  border: 1px solid #ccc;
  color: #FFFFFF;
  background-color: #FA5B05;
  border-radius: 5px; }

.buscador2:hover {
  color: #B3B3B3; }

.nav-item {
  list-style: none;
  display: flex;
  justify-content: center;
  border: 1px solid #ccc;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  background-color: #D9D9D9;
  color: #FFFFFF; }

.nav-item:hover {
  color: #FFFFFF;
  list-style: none;
  display: flex;
  justify-content: center;
  border: 1px solid #ccc;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  background-color: #B3B3B3; }

.card-img-overlay {
  line-height: 90%; }

.card-text {
  font-family: 'Montserrat', sans-serif;
  color: #848383; }

.card-title {
  font-family: 'Montserrat', sans-serif;
  color: #DC1B1B; }

.card {
  border: 1px solid #F0EFEF;
  margin: 2vh; }

.card2 {
  border: 1px solid #FFFFFF; }

.card-img {
  background-color: #FFFFFF; }

.ficha {
  width: 10%; }

.btn {
  display: flex;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  background-color: #D9D9D9;
  border: solid 1px #C4C3C3;
  width: 100%; }

.btn2 {
  display: flex;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  background-color: #FA5B05;
  border: solid 1px #FA5B05;
  padding-top: 1%;
  padding-bottom: 1%;
  width: 50%;
  margin-left: 50%; }

.btn:hover {
  background-color: #FA5B05;
  border: solid 1px #FA5B05; }

.btn2:hover {
  background-color: #D9D9D9;
  border: solid 1px #D9D9D9; }

.card {
  margin-top: 3%;
  margin-left: 10%; }

.card-text {
  font-family: 'Montserrat', sans-serif; }

@media screen and (min-width: 500px) {
  .card-text3 {
    font-family: 'Montserrat', sans-serif;
    padding: 0%;
    margin: -0.5%;
    color: #7f8184; } }

@media screen and (max-width: 500px) {
  .card-text3 {
    font-family: 'Montserrat', sans-serif;
    padding: 0%;
    margin: -1.7%;
    color: #7f8184; } }

.card-text2 {
  font-family: 'Montserrat', sans-serif;
  margin-left: 78vh;
  margin-top: -3vh;
  color: #B3B3B3; }

.card-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #7f8184; }

.card-body {
  justify-content: center;
  font-size: 13px; }

.card-arriba {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  background-color: #FA5B05;
  font-size: 3vh;
  margin-bottom: 0px; }

.card-arriba2 {
  font-family: 'Montserrat', sans-serif;
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
  background-color: #FA5B05;
  font-size: 2.5vh;
  padding: 0.3vh;
  position: absolute;
  width: 50%;
  margin-top: 5%; }

.card-abajo {
  font-family: 'Montserrat', sans-serif;
  color: #FFFFFF;
  text-align: center;
  background-color: #B3B3B3;
  font-size: 2.5vh;
  padding: 0.3vh;
  position: absolute;
  width: 100%;
  margin-top: 59%;
  opacity: 0.9; }

#padre {
  position: relative;
  display: inline-block; }

li.menu2 {
  list-style: none;
  width: 130px;
  padding: 10px 5px 10px 5px;
  margin: 3px 3px 0px 3px;
  border: 1px solid #ccc;
  background-color: #D9D9D9;
  border-radius: 5px;
  text-align: center;
  transition: width 1s; }

/*header*/
.menu2:hover {
  background-color: #FA5B05;
  width: 200px; }

ul.menu li:hover ul {
  display: block; }

/*header*/
nav ul li a.menuLink {
  text-decoration: none;
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  text-align: center; }

/*header*/
@media screen and (max-width: 500px) {
  .redessocialesMenu {
    display: flex;
    height: 6vh;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    width: 100%;
    padding: 2px; }
  /*header*/ }

@media screen and (min-width: 500px) {
  .redessocialesMenu {
    display: flex;
    height: 6vh;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    width: 100%;
    padding: 2px; }
  /*header*/ }

.titulos {
  color: #D9D9D9;
  font-family: 'Montserrat', sans-serif;
  margin-left: 40px; }

.titulofooter {
  color: #D9D9D9;
  font-family: 'Montserrat', sans-serif; }

.titulofooter {
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  line-height: 10px;
  margin-left: -30rem; }

/* Block */
.redessociales, .redessociales--contacto {
  background-color: #9A9C9F;
  height: 0.5vh; }

.redessociales--contacto {
  background-color: #B3B3B3; }

/* Element */
.redessociales__imagen {
  width: 40px;
  height: 40px;
  padding: 2px;
  margin-top: 2px;
  opacity: 0.8; }

/* Element */
.redessociales__texto {
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  margin: 0.2rem;
  padding: 0.2rem;
  font-size: 1.5rem; }

/* Modifier */
.redessociales--1 {
  border: solid 0.5px #FFFFFF; }

/* Modifier */
.redessociales--2 {
  border: solid 1px #FFFFFF; }

/* Modifier */
.redessociales--3 {
  border: solid 2px #FFFFFF; }

/* Modifier */
.redessociales--4 {
  border: solid 4px #FFFFFF; }

.parrafos {
  color: #B3B3B3;
  font-family: 'Montserrat', sans-serif; }

.bordesredondeados {
  border-radius: 10px; }

.TituloDePagina {
  color: #FFFFFF;
  background-image: url("../img/skylinetira.png");
  background-color: #D9D9D9;
  height: 15vh;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  letter-spacing: 0.1em;
  font-size: 240%;
  text-align: center;
  line-height: 15vh;
  text-transform: uppercase;
  margin-bottom: 0px;
  text-shadow: gray 0.02em 0.02em 0.05em; }

.TituloDePaginahome {
  color: #FFFFFF;
  background-color: #D9D9D9;
  height: 10vh;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  letter-spacing: 0.1em;
  font-size: 190%;
  line-height: 10vh;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0px; }

.textoServicios {
  font-size: 1.8vh;
  font-family: 'Montserrat', sans-serif;
  color: #5F5F5F; }

/* Object */
.ParrafoPrincipal {
  color: #969595;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  line-height: 1.6;
  margin: 1% 2% 1% 2%;
  padding: 1% 2% 1% 2%;
  text-align: justify; }

/* Element */
.ParrafoPrincipal__texto1 {
  color: #6D6C6C;
  font-weight: bold; }

/* Element */
.ParrafoPrincipal__texto2 {
  color: #B3B3B3; }

/* Element */
.ParrafoPrincipal__texto3 {
  color: #8D8D8D;
  margin-right: 50%;
  margin-left: -5%; }

/* Element */
/* Modifier */
.ParrafoPrincipal__texto3--claro {
  color: #8D8D8D; }

/* Element */
/* Modifier */
.ParrafoPrincipal__texto3--oscuro {
  color: #B3B3B3;
  opacity: 0.7;
  font-weight: bold; }

.iframe {
  text-align: center;
  margin-top: 0px;
  padding-top: 20px; }

section.home {
  background-image: url("../img/concreto.png");
  background-size: cover;
  padding: 70px; }

section.home ul li div img:hover {
  width: 68%;
  height: 35%; }

@media screen and (max-width: 500px) {
  div ul li {
    color: #B3B3B3;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    text-align: justify;
    list-style-position: inside;
    list-style: none; } }

@media screen and (min-width: 500px) {
  div ul li {
    color: #B3B3B3;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    padding: 1% 0.5% 1% 0.5%;
    text-align: justify;
    list-style-position: inside;
    list-style: none; } }

.imagen {
  position: relative;
  text-align: center;
  box-sizing: content-box; }

section.servicios {
  background-image: url("../img/render01.jpg");
  padding: 50px;
  background-size: cover; }

section.servicios ul li {
  list-style: none;
  font-family: 'Montserrat', sans-serif;
  line-height: 3.4; }

section ul ul li.serviciosInterno::before {
  content: "•";
  color: #FA5B05;
  margin-right: 4px;
  padding-right: 10px; }

li.servicios::before {
  content: "\f192";
  font-family: FontAwesome;
  color: #FA5B05;
  margin-right: 4px 4px 0px 4px;
  padding-right: 10px;
  list-style: none; }

li.numeros::before {
  color: #FA5B05;
  content: counter(lista) "-";
  /* Indica el separador para tu contenido */
  left: -2px;
  position: absolute;
  width: 10px;
  font-weight: bold; }

/* Object */
.leyenda {
  color: #B3B3B3; }

/* Elemento */
.leyenda__texto {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  text-align: center; }

/* Modificador */
.leyenda--blanco {
  color: #FFFFFF;
  background-color: #B3B3B3; }

/* Modificador */
.leyenda--negro {
  color: #020202;
  background-color: #D9D9D9; }

.footer {
  height: 10.66667rem;
  background-color: #D9D9D9;
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

#Footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 5%;
  background-color: #F5F5F5; }

/*footer*/
#imagen {
  display: flex;
  flex-direction: row;
  width: 30%;
  padding: 20px; }

/*footer*/
#parrafo {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  color: #BBBABA;
  font-family: 'Montserrat', sans-serif; }

/*footer*/
.parrafos2 {
  color: #BBBABA;
  font-family: 'Montserrat', sans-serif;
  margin-left: 40px;
  margin-top: 35px;
  font-size: 14px; }

#lema {
  display: flex;
  align-self: flex-end;
  width: 50%;
  color: #FA5B05;
  font-family: 'Montserrat', sans-serif; }

/*footer*/
@media screen and (min-width: 500px) {
  #link {
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    letter-spacing: 0.1em;
    display: block;
    font-size: 120%;
    text-align: center;
    background-color: #D9D9D9;
    margin-left: 30%;
    margin-right: 30%;
    border: 3px solid #A4A4A4; }
  #link:hover {
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    letter-spacing: 0.1em;
    display: block;
    font-size: 120%;
    text-align: center;
    background-color: #FA5B05;
    margin-left: 30%;
    margin-right: 30%;
    border: 3px solid #FA6603; } }

@media screen and (max-width: 500px) {
  #link {
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    letter-spacing: 0.05em;
    display: block;
    font-size: 110%;
    padding: 5%;
    text-align: center;
    background-color: #D9D9D9;
    border: 3px solid #A4A4A4; }
  #link:hover {
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    letter-spacing: 0.1em;
    display: block;
    font-size: 120%;
    text-align: center;
    background-color: #FA5B05;
    margin-left: 30%;
    margin-right: 30%;
    border: 3px solid #FA6603; } }

.fondoindex {
  margin-top: 14vh;
  margin-bottom: 14vh; }

.nosotros {
  color: #2F2E2E; }

@media screen and (max-width: 500px) {
  #socios {
    display: flex;
    flex-direction: column;
    margin: 12%; } }

@media screen and (min-width: 500px) {
  #socios {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 5%; } }

@media screen and (max-width: 500px) {
  .formulario {
    font-family: "Montserrat", sans-serif;
    background-color: rgba(255, 255, 255, 0.6);
    border: solid 1px #B5B5B5;
    padding: 2%;
    color: #626060; } }

@media screen and (min-width: 500px) {
  .formulario {
    font-family: "Montserrat", sans-serif;
    background-color: rgba(255, 255, 255, 0.6);
    border: solid 1px #B5B5B5;
    margin-left: 15%;
    margin-right: 15%;
    padding: 1%;
    color: #626060; } }
