@import "variables";


@media screen and (max-width: 500px) {

	.formulario {
		font-family: $font-Montserrat;
		background-color: rgba(255, 255, 255, .6);
		border: solid 1px #B5B5B5;
		padding: 2%;
		color: #626060;
	}

}

@media screen and (min-width: 500px) {

	.formulario {
		font-family: $font-Montserrat;
		background-color: rgba(255, 255, 255, .6);
		border: solid 1px #B5B5B5;
		margin-left: 15%;
		margin-right: 15%;
		padding: 1%;
		color: #626060;
	}
}	

