$cool-gray: #D9D9D9;
$cool-gray2: #B3B3B3;
$cool-orange: #FA5B05;
$cool-white: #FFFFFF;
$font-Montserrat: 'Montserrat', sans-serif;
$formulario: ( /*Declaramos nuestro mapa*/
        nombre: #FB7127,
        barrio:  #FA9E6C,
        mensaje: #F0A668
); 
$height: 4rem;
